[2018-02-11 20:53] kirbiyik opened #1 "Introduce yourself in the wiki"
Reach your own page from the sidebar and introduce yourself briefly, add contact info.

* [x] [Abdurrahman Dilmaç](https://github.com/bounswe/bounswe2018group6/wiki/Abdurrahman-Dilma%C3%A7)
* [x] [Ali Özden](https://github.com/bounswe/bounswe2018group6/wiki/Ali-%C3%96zden)
* [x] [Atıf Emre Yüksel](https://github.com/bounswe/bounswe2018group6/wiki/At%C4%B1f-Emre-Y%C3%BCksel)
* [x] [Erkam Ağralı](ht

[2018-02-12 08:50] cerob opened #2 "available times must be reported for weekly meetings"
To select our weekly meeting time, we decided to create a Doodle. Please select all of your available slots, you can also set some of them as 'maybe'. **Do not mind dates (16, 17th etc.), just see weekdays.**

After doing this questionnaire, hopefully we will be able to say a few slots as our available times. We can have _more than one_ 'slot' and set our meeting in one those weekly.

**Tip:** You

[2018-02-13 07:41] cerob commented on #1
in the Meeting#2, we decided to do this until tomorrow (14 Feb.) at 23:59.

[2018-02-13 07:56] cerob opened #3 "favorite repositories should be edited by Feb 14 @23:59"
Let's select one of our favorite repositories and write it on related Wiki page by editing it.

Please write your comments and considerations as well.

~~We decided deadline to be **tomorrow's midnight**, 14Feb@23:59.~~

* [x] [Abdurrahman Dilmaç](https://github.com/bounswe/bounswe2018group6/wiki/Abdurrahman-Dilma%C3%A7)
* [ ] [Ali Özden](https://github.com/bounswe/bounswe2018group6/wiki/Ali-%C3%9

[2018-02-13 09:07] cerob opened #4 "requirements analysis"
Our [second homework](https://piazza.com/class_profile/get_resource/jd5vcsniag3zz/jdjzvfcu3jl7na) is to discuss our requirements for the project.

To do this, first, have a look at the lecture notes: [LifecycleIntro_Requirements.pdf](https://piazza.com/class_profile/get_resource/jd5vcsniag3zz/jdjzx6qipxlx2)

We can contribute this wiki page by editing it. Add your ideas here please: [Requirements

[2018-02-14 17:43] #2 closed

[2018-02-14 20:16] #1 closed

[2018-02-15 13:54] kirbiyik opened #5 "edit meeting#1 notes"
by 15 Feb @23:59

[2018-02-15 14:02] kirbiyik opened #6 "Design an issue template"
An issue template which will give the main information from title and having some standards should be created.

[2018-02-15 14:03] kirbiyik opened #7 "Put more details in README.md"
Give a better explanation in README.md to introduce our project better.

[2018-02-15 14:05] kirbiyik opened #8 "Add Customer Meeting notes"
We've noted highlights in the meeting, let's put them into wiki in our usual format.

[2018-02-15 14:09] kirbiyik opened #9 "Add Skype meeting's(14.02.2018) notes to the Meeting 2"
Add to meeting 2's own page.

[2018-02-15 14:16] #4 closed

[2018-02-15 14:20] kirbiyik commented on #3
We will design this page from scratch. Add a new favorite repository using the first one as template. If possible add screenshots for visualization.
Please add 1 repo with clear explanation.
- [ ] Ömer Kırbıyık
- [ ] Atıf Yüksel
- [ ] Abdurrahman Dilmaç

[2018-02-15 14:28] kirbiyik opened #10 "Give a clear explanation in Wiki's home about project"
Homepage should tell about the project.

[2018-02-15 15:48] atifemreyuksel commented on #7
Done by @erkamagr

[2018-02-15 17:30] #7 closed

[2018-02-15 18:00] atifemreyuksel commented on #8
Done. I add it to sidebar.

[2018-02-15 19:11] hmente commented on #8
The customer meeting notes were edited very well by @atifemreyuksel , there was no missing information. Thanks!

[2018-02-15 19:17] #8 closed

[2018-02-15 19:48] kirbiyik commented on #10
Thanks @erkamagr for the contribution.

[2018-02-15 19:48] #10 closed

[2018-02-15 19:53] kirbiyik opened #11 "Add new decriptive label types to project [27 Feb, 23:59]"
We need more tags to define tasks better. [This link](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63) can provide good recommendations.

[2018-02-15 20:35] isikz commented on #9
I added Skype meeting's notes and gived a reference to side bar.

[2018-02-15 20:36] #9 closed

[2018-02-15 20:39] isikz opened #12 "Design a meeting note's template."

[2018-02-15 20:49] cerob commented on #5
edited and completed according to feedback

[2018-02-15 20:49] #5 closed

[2018-02-15 20:56] cerob commented on #12
Do we have a blank page defining our meeting template?

[2018-02-15 21:19] isikz commented on #12
You can see [here](https://github.com/bounswe/bounswe2018group6/blob/master/Meeting%20Notes%20Template.md)

[2018-02-15 21:37] #3 closed

[2018-02-15 21:43] cerob opened #13 "Add a group picture to wiki"
requested by our assistant.

(probably he wants to see our pretty faces --no-offense)

[2018-02-15 21:52] cerob opened #14 "Discussion on the naming of sub-meetings"
I mean this: https://github.com/bounswe/bounswe2018group6/wiki/Skype-Meeting-%231:-14.02.2018

It's like a sub-meeting and the name is this: Skype Meeting #1: 14.02.2018

The problem is this naming has no indication on the order of meetings. It can't be understood easily that the meeting is after the Meeting#2 and before the Customer Meeting.

Can we try something better for enumeration?

What abo

[2018-02-17 12:14] kirbiyik commented on #14
I agree with @cerob. Let's not enumerate with order of Skype meetings but with Weekly Meetings. I also propose:
Meeting#2.2: 14.02.2018 (Skype)
Even though we love starting from 0 as index, 1 is more descriptive in this case.

[2018-02-17 12:15] kirbiyik commented on #12
It will be closed after we decide on Title convention.

[2018-02-17 12:16] kirbiyik commented on #11
@mertakozcan  Any update on this?

[2018-02-17 12:18] cerob commented on #12
we should rethink about our template again. date and time demonstration is not effective, no need to use <h2> for each.

i'll do some research and will share it here.

feel free to discuss.

[2018-02-17 12:26] cerob commented on #14
makes sense, we can do as @kirbiyik's offer too.

[2018-02-17 15:45] isikz commented on #14
I thought that date indicated the week but your thought is better and easy to understand, right.

[2018-02-18 18:31] atifemreyuksel commented on #11
I glance through the [link suggested by @kirbiyik](https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63), I think that we can arrange our label section by creating similar types of labels.

[2018-02-18 18:38] atifemreyuksel commented on #12
We can use a simple table containing date and time and also location so that we get rid of the diffusiveness in the meeting report. Any other idea to design better meeting template?

[2018-02-19 08:44] cerob commented on #14
We decided on this and using it for next sub-meetings as well:

Meeting#2.2: 14.02.2018 (Skype)

I have already changed the names and fixed links in other pages as well.

Hence, I am closing this issue.

[2018-02-19 08:44] #14 closed

[2018-02-19 08:50] cerob commented on #12
I have changed our structure as our discussions and created an example too.

Here is the example: https://github.com/bounswe/bounswe2018group6/wiki/Meeting-Notes-Template

and our blank template, ready to copy-paste for next meetings: https://github.com/bounswe/bounswe2018group6/wiki/Meeting-Notes-Template

can you have a look at them? if you have something more to say, please write here so we can

[2018-02-19 08:51] cerob opened #15 "Apply the new meeting template to past meeting notes"

[2018-02-19 10:09] cerob opened #16 "the team is waiting feedback for requirements analysis"
Comrade!

Our team is full of energy it's very difficult to make them wait to work.

May you please give us a feedback for our [Requirements Analysis](https://github.com/bounswe/bounswe2018group6/wiki/Requirements-Analysis) so we can make more perfect than ever?

[2018-02-19 10:16] mertakozcan commented on #6
We'll be done by Tuesday night. (Feb 20 at 23.59)

[2018-02-19 10:17] cerob commented on #13
added to [wiki_assets](https://github.com/bounswe/bounswe2018group6/tree/master/wiki_assets)

[2018-02-19 10:17] #13 closed

[2018-02-19 10:31] cerob commented on #12
The team agreed on new Meeting Note template, hence the issue is closed according to Meeting#3.

[2018-02-19 10:31] #12 closed

[2018-02-19 10:35] cerob commented on #15
@atifemreyuksel is assigned in Meeting#3. Deadline is Tuesday, Feb 20, 2018 @23:59.

[2018-02-19 10:37] cerob commented on #6
according to Meeting #3, deadline is Tuesday, Feb 20, 2018 @23:59.

[2018-02-19 10:37] cerob commented on #11
according to Meeting #3, deadline is Thursday, Feb 22, 2018 @23:59.

[2018-02-19 10:59] mericturan commented on #16
Done.

[2018-02-19 10:59] #16 closed

[2018-02-19 17:32] atifemreyuksel commented on #15
I think we must add **Decision Taken** part to the new meeting template. Otherwise, we can merely demonstrate our tasks and their deadlines, not decisions taken after discussions.

[2018-02-19 17:55] atifemreyuksel commented on #15
I finished revision. Can you check the meeting notes to find some points I forget @cerob ?

[2018-02-19 17:59] cerob commented on #15
I also thought that while preparing the template. we are mentioning our decisions in discussings too. then i simply deleted it.

[2018-02-19 18:04] atifemreyuksel commented on #15
I understood but the discussions are too long to find decisions for someone who wants to see them quickly.

[2018-02-19 19:04] isikz commented on #15
I also think that there should be a "decision taken" part because it does not just contain deadline like things, for example; meeting will be held on Monday each week. This is not a discussion, this is not a duty. So, "decision taken" part should be there.

[2018-02-19 20:19] mertakozcan opened #17 "Integrare GitHub to Slack."

[2018-02-19 20:19] mertakozcan commented on #17
Done! It's working!

[2018-02-19 20:19] #17 closed

[2018-02-20 10:38] cerob commented on #15
@atifemreyuksel @isikz I see. Okay we can do like that.

[2018-02-20 10:40] cerob commented on #15
@atifemreyuksel I checked them. Maybe we can order the tasks table according to deadline?

Btw, can you check this: https://github.com/bounswe/bounswe2018group6/wiki/Meeting-%233-Report I will add more.

[2018-02-20 15:05] mertakozcan commented on #6
https://github.com/bounswe/bounswe2018group6/wiki/Creating-and-Managing-Issues I can get feedbacks then close the issue.

[2018-02-20 18:17] atifemreyuksel commented on #15
Okay, I fixed them.

[2018-02-20 18:18] #15 closed

[2018-02-21 09:26] kirbiyik commented on #6
Are we gonna add the topic prefix to issue titles or labels gonna do the work instead? If it's so, are our labels are sufficient to do this?

[2018-02-21 17:45] mertakozcan commented on #6
I guess we can use just the labels at this point. When the coding part comes, we can adjust the template to be more appropriate for code related issues. Also, there is another [issue for labels here](https://github.com/bounswe/bounswe2018group6/issues/11).

[2018-02-22 07:48] cerob opened #18 "Edit Project Requirements [23 Feb, 23:59]"
We have to edit our draft according to the feedback.

It's better to do this before meeting the customer.

[2018-02-22 10:00] cerob opened #19 "Place project name into the repository and wiki"
"**Cultidate**"

[2018-02-22 11:27] cerob opened #20 "A more in-depth explanation required on "Integrity""
Comrade!

Our passionate team edited our Requirements Analysis according to your feedback.

However, we cannot understand what you exactly mean by '__integrity__' (ie. system integrity, user profile integrity, security integrity) in your feedback.

[2018-02-22 14:45] mericturan commented on #20
Abdurrahman,

Add whichever (system integrity, user profile integrity or security integrity) you want or add all of them. I expect you to add more than one non-functional requirement. Integrity is just an example, you may or may not add it. Just enlarge your non-functional requirements with meaningful requirements. Five non-functional requirements are not enough. If you still need more in-depth ex

[2018-02-22 14:45] #20 closed

[2018-02-22 15:03] cerob commented on #6
anything more to say? why is this issue still open?

[2018-02-22 17:44] #6 closed

[2018-02-26 07:36] #19 closed

[2018-02-26 07:37] cerob commented on #11
any steps taken?

[2018-02-26 07:38] cerob commented on #18
More steps to be taken: make non-functional req.s more detailed.

[2018-02-26 09:42] #18 closed

[2018-02-26 09:44] mertakozcan opened #21 "Add more details to non-functional requirements [28 Feb, 23:59]"

[2018-02-26 09:55] mertakozcan opened #22 "The team needs feedback on project plan"

[2018-02-26 10:02] mertakozcan opened #23 "Revise the project plan [02 March, 23:59]"
According to feedback from customer (#22), revise the project plan.

[2018-02-26 10:15] mertakozcan opened #24 "Create user stories [28 Feb, 21:00]"
Make the ones we have done during the class more detailed and sophisticated.

[2018-02-26 10:24] mertakozcan opened #25 "Create sample mock-ups and find a helper application [28 Feb, 21:00]"

[2018-02-26 10:28] mertakozcan opened #26 "Create 3 full user scenarios [28 Feb, 21:00]"

[2018-02-26 10:31] mertakozcan opened #27 "Find a new meeting time"
Because there is going to be ps sessions at our regular meeting time, we will find a new slot. (Especially M 15:00, T 9:00)

[2018-02-26 17:26] mericturan commented on #22
Check piazza.

[2018-02-26 18:34] cerob commented on #27
we can update here as well: https://doodle.com/poll/99427awpbymgfce9 created for #2

[2018-02-26 19:39] kirbiyik commented on #11
Now that we have brand new labels. In order not to add unnecessary labels let's add additional labels if we really need later on. We can classify labels to avoid misuse but I think it's cool now. So let's try a new label with this issue:
Review Needed by @mertakozcan

[2018-02-26 21:05] atifemreyuksel opened #28 "Add more section to system requirements [28 Feb, 23:59]"
According to feedback about system requirements, I added some new sections and new features to the existing ones. However, our system requirements are not enough to cover all system and define its requirements completely. Therefore, we must find the missing sections in system requirements as soon as possible.

[2018-02-26 21:20] mertakozcan commented on #11
Thanks @kirbiyik, can you explain invalid and blocked labels, please? Maybe we can add a description to some labels that aren't clear that much.

[2018-02-26 22:21] cerob commented on #11
what about adding all these @kirbiyik mentioned here: https://medium.com/@dave_lunny/sane-github-labels-c5d2e6004b63

[2018-02-27 22:03] isikz commented on #11
Done.

[2018-02-27 22:03] #11 closed

[2018-02-27 22:04] isikz commented on #27
Can we add M 17:00-19:00 to the probable sections?

[2018-02-28 07:49] cerob commented on #28
added more

[2018-02-28 11:01] cerob commented on #27
@isikz at that time there is another lecture that most members of our team are attending. so the answer is probably no.

[2018-02-28 15:22] atifemreyuksel commented on #28
I added more glossary items and more features in system requirements. Moreover, I created the voting section in system requirements but I cannot find the enough material to fill this part unfortunately. You can add new features under the voting section if you want.

[2018-02-28 15:39] atifemreyuksel commented on #21
I added accessability, version, and localization sections for non-function requirements. However, I think that the content of version and localization is not enough. For this reason, we can add some new features in these sections.

[2018-02-28 16:45] isikz commented on #27
@cerob Right, sorry I remember later.

[2018-02-28 17:13] isikz commented on #28
I checked and added some new sections to non-functional requirements.

[2018-02-28 19:19] isikz opened #29 "Create web mock-ups [2 March, 23:59]"

[2018-02-28 19:23] isikz commented on #26
Deadline extended.

[2018-02-28 19:23] #25 closed

[2018-02-28 19:24] isikz opened #30 "Create Android mock-ups [2 March, 23:59]"

[2018-02-28 19:25] isikz commented on #23
Assignees changed.

[2018-02-28 19:28] isikz commented on #21
It is continued on #28.

[2018-02-28 19:28] #21 closed

[2018-03-01 17:47] isikz opened #31 "Pay attention to "Projects" section"
Please follow your tasks from both issues and project's ToDoList.

[2018-03-02 19:17] isikz commented on #24
Deadline extended.

[2018-03-02 19:18] isikz commented on #23
Deadline extended.

[2018-03-02 19:18] isikz commented on #29
Deadline extended.

[2018-03-03 12:33] atifemreyuksel commented on #28
Ok, I think the revision of the requirement analysis is done.

[2018-03-03 12:34] atifemreyuksel commented on #28
Ok, I think the revision of the requirement analysis is done.

[2018-03-03 12:34] #28 closed

[2018-03-03 14:38] isikz commented on #23
Revising project plan is done.

[2018-03-03 14:39] #23 closed

[2018-03-03 14:43] isikz commented on #27
Is everybody okay in M 15:00-17:00?

[2018-03-03 14:46] mertakozcan commented on #27
Is there anyone who is not OK for Monday between 15:00-17:00? We talked about this during Skype meeting for those who were not there.

[2018-03-04 15:58] isikz commented on #30
Done by @mfatihm.

[2018-03-04 15:58] #30 closed

[2018-03-04 16:00] isikz commented on #29
Done by @hmente @erkamagr.

[2018-03-04 16:00] #29 closed

[2018-03-04 20:32] #27 closed

[2018-03-04 20:32] mertakozcan commented on #24
Personas, user stories and acceptance criterias are completed.

[2018-03-04 20:32] #24 closed

[2018-03-04 20:37] mertakozcan commented on #26
Created scenarios for user stories.

[2018-03-04 20:37] #26 closed

[2018-03-05 17:58] cerob opened #32 "Edit README.md"

[2018-03-07 12:17] kirbiyik opened #33 "Complete personal tasks before deadline"
You can find your tasks in the table below. Please mark after you've completed.

- [x] Hilal Mente
- [x] Zeynep Işık
- [x] Abdurrahman Dilmaç
- [x] Ömer Kırbıyık
- [x] Erkam Ağralı
- [x] Atıf Yüksel
- [x] Mert Aközcan
- [x] Fatih Maytalman
---
Person | Task | Deadline |
|:------:|:----:|:--------:|
|Hilal Mente | Fix tiny errors in mock-ups | Wed March 7, 2018 @22:00 |
|Zeynep Işık | Connect accep

[2018-03-08 18:27] isikz commented on #31
Please select "Projects" section on the right before opening the issue.

[2018-03-08 18:29] isikz commented on #33
Done.

[2018-03-10 12:48] #32 closed

[2018-03-11 14:05] #31 closed

[2018-03-11 22:21] #33 closed

[2018-03-12 22:18] mertakozcan opened #34 "Think about UML class diagram until meeting [Mar 14, 19.00]"
Until our in-person meeting on Wednesday at 19.00, please think about what we can include in the class diagram. Below you can find the details of who-will-think-about-what list.

- [x] Atıf - Annotations
- [x] Erkam - User class
- [x] Fatih - Event class
- [x] Ömer - Event attribute classes

Feel free to comment your ideas if you'd like to.

[2018-03-12 22:24] mertakozcan opened #35 "Find a program to create sequence diagrams [Mar 14, 22.59]"
Since diagrams like this one is prone to change frequently, it's a good idea to find a convenient program to create sequence diagrams.

Feel free to share your findings on comments section.

[2018-03-12 22:29] mertakozcan opened #36 "Prepare possible sequence diagram scenarios [Mar 14, 22.59]"
Since sequence diagrams are dependent on class diagrams, until class diagrams are completed, we'll think of possible sequence diagram scenarios. There are trivial ones such as authentication scenarios and event creation etc.

You can share your ideas on comments section.

[2018-03-12 22:34] mertakozcan opened #37 "Create initial sequence diagrams [Mar 17, 22.59]"
After class diagram is completed, we're planning to create at least two initial sequence diagram in order to accelerate the process. After initial sequence diagrams are completed in this week, we can share the workload again for the next week.

[2018-03-14 13:28] hmente commented on #35
lucidchart (https://www.lucidchart.com/) service for creating UML diagrams (it offers free accounts with
our university email),
 argouml (http://argouml.tigris.org/),
 UMLet (http://www.umlet.com/).
these are some suggestions given by instructor to create diagrams

[2018-03-14 13:46] cerob commented on #36
after first iteration, here are the ideas:

[2018-03-14 13:46] hmente commented on #35
https://www.draw.io is another option to create diagrams. Also, https://creately.com/ has various and distinct shapes. Let's choose one of them @cerob @isikz

[2018-03-14 13:49] hmente commented on #35
If we choose https://creately.com/ , we should create a common account to save our diagrams

[2018-03-14 20:43] isikz commented on #35
I think https://www.draw.io is better because it is easier to use and has many saving options.

[2018-03-14 20:44] isikz commented on #36
It is done, I think. Please check. @mertakozcan

[2018-03-15 08:29] hmente commented on #35
https://www.draw.io/ is chosen to create diagram by assignees. @isikz @dilmac

[2018-03-15 08:29] #35 closed

[2018-03-15 09:33] isikz commented on #36
I have a point, is "view profile page" is necessary? It is not complex and just between actor and UI. Any suggestion or rejection?

[2018-03-16 15:37] kirbiyik commented on #36
@mertakozcan What are the latest updates about this issue?

[2018-03-16 19:51] isikz commented on #36
View user profile is out of list. Done.

[2018-03-16 19:51] #36 closed

[2018-03-17 08:45] mertakozcan commented on #34
We've already started to prepare class diagram, the remaining part will be done until March 18, 22.59.

[2018-03-17 08:45] #34 closed

[2018-03-18 19:48] mertakozcan commented on #37
Can you share draw.io link with us from Slack and close the issue?

[2018-03-18 21:37] cerob commented on #37
Shared.

[2018-03-18 21:51] #37 closed

[2018-03-19 21:44] hmente opened #38 "Complete Class Diagram according to feedback. [March 20, 23.59]"
There are some new classes as we discussed today's meeting.  Please complete them and make class diagram corrections according to feedback which is given by instructor.

[2018-03-19 21:55] hmente opened #39 "Complete Sequence Diagram [March 23, 23:59]"
Let's complete the rest of sequence diagram. Please be careful what instructor said about specific entitlement (e.g. database, facebookServer, authServer)

[2018-03-19 22:03] hmente opened #40 "Create Use Cases & Use Case Diagram [ March 23, 23.59]"
Guys, recall that we should create minimum 7 Use cases and Use case diagram must be appropriate for requirements.

[2018-03-19 22:16] hmente opened #41 "Arrange a meeting to carry out your task (Use Case) | share task among assignees. [March 21, 23.59]"
You should do your task together or share the task among three of you. Please share your opinions under this issue.

[2018-03-19 22:22] hmente opened #42 "Arrange a meeting to carry out your task (Sequence Diagram) | share task among assignees. [March 21, 23.59]"
It is important to arrange a meeting or share task among assignees. Let's discuss what we should do.

[2018-03-19 22:32] hmente opened #43 "Participate the poll to choose Skype Meeting time. [March 23, 23.59]"
Skype meeting day is going to be Saturday as we talked today's meeting. I created a poll to choose time. You can participate it from [here ](https://doodle.com/poll/ik4y8g7qph5f3pts)

[2018-03-20 03:33] cerob commented on #43
Why don't we have sunday option?

[2018-03-20 06:10] cerob commented on #42
here, my suggestions:

- tuesday afternoon 1-3pm or after 7pm
- wednesday after 4pm
- thursday before the evening
- friday before 11am or between 1-3pm

[2018-03-20 10:13] hmente commented on #43
We decided saturday as a Skype meeting day for this week in meeting 7. It is saturday because we can make correlations on sunday. If you want to have sunday option, I can edit the poll.

[2018-03-20 21:06] mertakozcan commented on #38
Document link has been shared on Slack. If there is no feedback, we can close the issue.

[2018-03-21 19:54] hmente commented on #38
It's okay, thanks for your effort.

[2018-03-21 19:54] #38 closed

[2018-03-21 22:14] cerob commented on #42
then let's meet tomorrow to complete and revise.

[2018-03-22 09:44] #42 closed

[2018-03-24 17:24] erkamagr commented on #40
Made Use Cases

[2018-03-25 11:42] isikz commented on #43
I think it is certain now, Sunday 15:00.

[2018-03-25 12:39] cerob commented on #39
all scenarios here:

sign up
login with email
login with facebook account
forgot password

create/edit profile
follow user
block user

recommend event
create event
attend event
add tags
add annotation
add comment

messaging

search (with filtering according to location and based)

[2018-03-25 17:06] #43 closed

[2018-03-25 17:29] hmente commented on #40
[Here's](https://github.com/bounswe/bounswe2018group6/wiki/Use-Cases) our Use Cases. Thank you @erkamgr  .

[2018-03-25 17:29] #40 closed

[2018-03-25 17:31] hmente commented on #41
Tasks were shared among assignees.

[2018-03-25 17:31] #41 closed

[2018-03-26 12:27] #39 closed

[2018-03-31 02:41] isikz opened #44 "Pay attention to the "Milestone" section as "Project" section while opening an issue."

[2018-04-02 12:05] #44 closed

[2018-04-11 05:19] isikz opened #45 "Meeting time. [11 April, ?]"
When is the today's meeting exact time? (Remember because of the exams, we could not arrange it in its regular time.)

[2018-04-11 17:07] cerob commented on #45
9pm sharp.

[2018-04-11 17:07] #45 closed

[2018-04-13 10:53] cerob opened #48 "use the template for hw8_twitterapi"
template is available. please use that, than remake your pull requests.

[2018-04-13 12:29] cerob opened #49 "deploy the twitterapi project"
please refer to homework description. it's suggested using amazon's cloud.

[2018-04-13 21:01] cerob opened #53 "place server ip address to template"
you need to simply change this file:

`hw_twitterapi/twitterapiapp/templates/twitterapiapp/server`

[2018-04-14 09:46] kirbiyik commented on #49
We did this with Digital Ocean but it won't be a big problem, I guess. I am closing this issue if you have no further concerns, @cerob .

[2018-04-14 09:46] #49 closed

[2018-04-15 21:14] kirbiyik commented on #53
Already done. Let's close this.

[2018-04-15 21:14] #53 closed

[2018-04-15 21:15] kirbiyik commented on #48
@cerob I think we can close this issue as well, any objection?

[2018-04-21 07:12] cerob commented on #48
since the deadline for the homework has passed, we close this.

[2018-04-21 07:12] #48 closed

[2018-04-30 07:22] kirbiyik opened #55 "Deployment is not working"
Our server seems to be down. Let's inspect what's going wrong.

[2018-04-30 07:28] cerob commented on #55
We have some TODOs:

* First, we have to chance `DEBUG=True` to `False` in order to avoid leaks on production.
* Second, the cause of the problem is that the API is not working, that's what Tweepy says.
* Third, (as additional step) it's better to consider 404 errors.

[2018-04-30 07:51] cerob opened #56 "Fix Whitespace Error on the Main Page"
Django doesn't seem to handle our imported `server` file in template files. We have to find some workaround solution asap.

[2018-04-30 08:20] cerob opened #57 "Fix url parameter handling"
Can you please revise url configuration of `followings`?

[2018-04-30 09:52] cerob opened #58 "Write about twitterapi project to Wiki"

[2018-04-30 10:57] mertakozcan commented on #57
It works without any problem in my local, but we can check again in production after we fix deployment issues.

[2018-05-04 19:09] #55 closed

[2018-05-04 19:11] kirbiyik commented on #56
I cannot find a quick workaround meanwhile let's hard-code for the moment.

[2018-05-04 19:11] #56 closed

[2018-05-04 19:18] kirbiyik opened #59 "Add input box and forms to main page of Twitter app"
Let's add them to provide better user experience.

[2018-05-05 11:55] cerob commented on #59
Done.

https://github.com/bounswe/bounswe2018group6/commit/da3410112f84bf95d59eddf6fce9824c33fae822

[2018-05-05 11:55] #59 closed

[2018-05-05 11:56] cerob commented on #57
Revised and closed.

[2018-05-05 11:56] #57 closed

[2018-05-06 20:15] cerob opened #61 "Pull new commits to the server"
Server needs to be updates for demonstration.

[2018-05-06 21:46] cerob commented on #58
Thanks @kirbiyik @atifemreyuksel @mertakozcan

We are waiting for @mfatihm

[2018-05-06 21:51] kirbiyik commented on #61
Done.

[2018-05-06 21:51] #61 closed

[2018-05-06 21:56] cerob opened #62 "Add 'count' textbox to Recent Favorite Statistics part of the main page of twitterapi project"

[2018-05-06 22:59] #58 closed

[2018-09-25 11:26] cerob commented on #62
the project was done, so this becomes unimportant, hence closed.

[2018-09-25 11:26] #62 closed

[2018-10-07 20:31] anilseyrek opened #69 "Update Project Plan"
## Update Project Plan
Project plan will be updated and will be moved to Google Spreadsheets in order to track project progress easily and collectively.

__Deadline:__
Update project plan. [7 Oct, 23.59]

[2018-10-07 20:39] anilseyrek commented on #69
Project plan updated and moved to Google Drive.

[2018-10-07 20:39] #69 closed

[2018-10-08 13:26] ghost opened #70 "Create base android project with Kotlin."
## Kotlin base project
Create the initial project for android app as Kotlin using versions:
* Android SDK version 28
* Gradle 3.2
* Kotlin 1.2

[2018-10-09 11:15] cerob opened #71 "Implement user and authentication endpoints"
Implement User model and User&Authentication related endpoints according to the Requirements and Class Diagram.

Documenting is required.

[2018-10-09 13:50] atifemreyuksel commented on #70
I create my android development environment by using the versions you specified. Thank you @mstfalp.

[2018-10-09 16:24] cerob opened #74 "Implement event endpoints"
Requirements, Class Diagram and Project Plan might help.

[2018-10-09 16:59] mstfalp opened #75 "Implement the android login page"
## Implement the login page
Mail address and password must be used for login. Also facebook login option must be provided.
Forgot password and register pages should be accessible from this page.

A similar design is shown below.
![login](https://user-images.githubusercontent.com/43815119/46685164-15ebc880-cbf5-11e8-9ee1-2ba6cbe6a513.png)

[2018-10-09 17:03] mstfalp opened #76 "Implement android register page"
## Implement a register page for android
Registration page must include these:
* mail
* name
* password and its validation
* accept conditions check

A simple design is given below.
![register](https://user-images.githubusercontent.com/43815119/46685493-ea1d1280-cbf5-11e8-9742-b697616407cd.png)

[2018-10-10 18:50] atifemreyuksel commented on #75
Okay, I implement the login page by adding the options you pointed out. Thank you for similar design, it helps me.

[2018-10-11 10:24] #70 closed, assigned to nobody

[2018-10-11 16:16] mertakozcan opened #77 "Do research on Google Maps / Places API"
As in requirements, we should use Google Maps API for location related properties in our application. There're many APIs inside Maps API, but I think the one related to our use case is Places. There're both client (Android, JS) and server-side libraries for Places API. [https://developers.google.com/maps/documentation/](https://developers.google.com/maps/documentation/) All three teams should disc

[2018-10-11 16:20] mertakozcan opened #78 "Create block storage service for static files"
We need a block storage service in order to store static files (like event media, profile photos) effectively. As pointed out [here](https://devcenter.heroku.com/articles/s3-upload-python), we can use Amazon S3. We can follow the tutorial in the link as well.

[2018-10-11 21:00] atifemreyuksel commented on #75
I implemented the login page. I am waiting for your feedback

[2018-10-14 20:51] cerob opened #79 "Deciding on user rating system ambiguities"
As stated in the class diagram, users have `user_rating` data.

Rating is also mentioned in glossary of the Requirements, yet _nothing more is stated._

So we should decide whether we will be implementing this or not?

If so, we should decide on more: Should we store all users' votes for another users in a cross table or just counting the number of votes and the average?

If not, it's better if we

[2018-10-14 20:59] mertakozcan commented on #79
If user voting isn't in project description, I think we can remove that from requirements. I implemented upvote and downvote functionalities for events. In my opinion, voting users doesn't make much sense anyway.

[2018-10-14 21:57] cerob commented on #79
So we shall implement this. It should be added to the Requirements.

And here comes my question again:

[2018-10-14 22:02] mertakozcan commented on #79
I think we can do upvote-downvote thing like in events for consistency. 😄

[2018-10-14 22:08] cerob commented on #79
@mertakozcan I totally support your idea. 5-stars voting went out of date. Upvote-downvote is the new black.

[2018-10-14 22:11] cerob opened #80 "Attendance status"
According to the Requirements Analysis:

As stated in the Project Description:

Additionally, we might add `block` status to here as well. In short, can we list attendance statuses so every team should consider this list while setting things up?

[2018-10-15 04:54] cerob commented on #80
One more point: If an event is blocked, `Blocked` must be shown without checking event date.

[2018-10-16 11:29] mstfalp commented on #75
Seems good but should have some validations.
* Check if the mail address is valid and show an alert when it is not.
* Make sure password field is not empty and valid (like at least 6 character)

[2018-10-16 11:33] kirbiyik opened #82 "Add what is going to be delivered to the milestones"
We have 2 presentations at October 30th and December 4th. [See details here](https://piazza.com/class/jlf0sl8gc3p748?cid=21). We will use [this Milestones section](https://github.com/bounswe/bounswe2018group6/milestones) as a planner.

Each team should add [here](https://github.com/bounswe/bounswe2018group6/milestones)  what is going to be ready at the presentation/class milestones.

[2018-10-16 11:38] mstfalp commented on #74
@mertakozcan Saw the implementations on slack but I think it would be better if we use something like Swagger or Open Api to list services. My recommendations would be:
* https://swagger.io
* https://apiblueprint.org/
* at worst a Postman collection to show example requests and responses

[2018-10-16 11:41] mstfalp commented on #76
Make sure all fields have proper validation before sending it to server:
* Password fields match and it is safe (at least 6 characters and a number maybe?)
* Mail address is valid
* Name is not empty
* Terms of use is accepted

[2018-10-16 14:59] isikz opened #83 "Add link of the deployment platform"
Backend team, could you please add the link at Wiki page?

[2018-10-16 15:02] isikz opened #84 "Meeting time (Android Team)"
I suggest the date and time as Thursay 11:00-12:00. Is this okay for everyone?

[2018-10-16 15:04] isikz commented on #76
Thank you, I will go over these.

[2018-10-16 19:04] mertakozcan commented on #83
The url of our API is [http://cultidate.herokuapp.com/](http://cultidate.herokuapp.com/). Where should we put this on Wiki page? Home or somewhere else? @isikz

[2018-10-16 22:17] mertakozcan commented on #83
As we talked on Slack, I added the URL to Wiki/Home.

[2018-10-16 22:17] #83 closed

[2018-10-17 10:12] isikz commented on #83
Thank you @mertakozcan

[2018-10-17 20:04] atifemreyuksel commented on #84
It is okay for me. Thursday 11.00 - 12.00 will be our regular meeting time, won't it?

[2018-10-17 20:06] atifemreyuksel commented on #75
Ok, I will handle them.

[2018-10-18 17:14] anilseyrek opened #85 "Meeting time (Backend Team)"
Let's decide a meeting time so that we can work together every week.

[2018-10-18 18:07] isikz commented on #84
Nope, but for regular; is Monday 13:00-14:00 okay for everyone?

[2018-10-18 18:20] atifemreyuksel commented on #84
Monday 13:00-14:00 is better for me.

[2018-10-21 11:55] isikz commented on #84
@mstfalp for you?

[2018-10-21 21:45] mertakozcan commented on #79
There are three models in our system that can be voted by users, **User, Event, Comment**. I think a solution like this would be nice.

In models.py
[code]

Then, we can add `ratings = GenericRelation('Rating')` field to necessary models.

In mixins.py
[code]

If we want to store the final count instead of calculating it for every request, we can create a `post_save` signal for `Rating`, and whene

[2018-10-23 17:47] isikz commented on #76
Done.

[2018-10-23 17:47] #76 closed

[2018-10-24 11:37] cerob opened #88 "Deciding on how much detailed locations of events will be"
We need to decide on this.

Here is how the Project Description mentions:

And here what's written in the Requirements:

It's better if we set some fields and decide how we can handle this.

[2018-10-24 11:40] cerob opened #89 "Do research on Annotations"
We need a presentation for this.

[2018-10-24 11:41] cerob commented on #89
Deadline is October 27, 2018.

[2018-10-24 11:44] cerob opened #90 "Prepare documentation for user and event API endpoints [7 Nov, 23.59]"
As we are about to complete and merge these endpoints, we need preparing documentation.

[2018-10-24 11:45] cerob commented on #90
Deadline is October 27, 2018.

[2018-10-24 11:57] cerob commented on #85
The meeting report is ready: [Meeting #17: 24.10.2018 - Backend Team](https://github.com/bounswe/bounswe2018group6/wiki/Meeting-%2317:-24.10.2018---Backend-Team)

[2018-10-24 11:57] #85 closed

[2018-10-24 12:10] cerob opened #91 "Do research on Search System"
Let's do some research on this.

[2018-10-26 14:12] cerob opened #92 "Email server"
As we mentioned in the Requirements, an email server has to be set up.

Steps:

- [x] Subscribing a service.
- [x] Test
- [x] Add parameters to Django `settings.py`
- [x] Add env parameters to the prod. server

[2018-10-26 14:12] cerob commented on #92
@mertakozcan I have sent credentials over a secure channel.

[2018-10-26 19:41] kirbiyik commented on #90
@cerob could you send me some preview of API docs so that I can make some experiments regarding to frontend.

[2018-10-26 19:53] kirbiyik opened #93 "Suggestion about landing page's background"
Since it will change the way our app look, I'd like to listen some recommendations about landing page's background.
At the moment, our initial design is like below. I might implement if you have cool and realistic ideas.

<a href="https://ibb.co/mGBjBV" target="_blank"><img src="https://preview.ibb.co/kjaBrV/Screen-Shot-2018-10-26-at-22-46-54.png" alt="Screen-Shot-2018-10-26-at-22-46-54" border="0

[2018-10-26 22:58] isikz opened #94 "Milestone #1 / Android Team"
I added the planned task to Milestone#1 in milestone section. Do you want to add or edit anything?

[2018-10-27 09:11] mertakozcan commented on #79
`Vote` functionality is implemented in #95.

[2018-10-27 09:11] #79 closed

[2018-10-27 09:29] mertakozcan opened #96 "Meeting Time (Backend)"
Are we all OK for Wed 14.00?

[2018-10-27 12:58] cerob commented on #93
No idea on which image to use, but we can utilize this: http://omerkirbiyik.com/neural-style

[2018-10-27 13:16] kirbiyik commented on #93
Would be good but I have to implement it in React. Not sure it's possible till the milestone deadline.

[2018-10-27 15:47] kirbiyik commented on #93
Alright.

[2018-10-27 22:09] mertakozcan opened #98 "Decide static file storage method"
We should discuss whether we want to store static files as `base64` in our regular database, or in a block storage service like AWS.

[2018-10-27 22:09] mertakozcan commented on #78
Implemented here if we need it #97, will continue discussion from #98.

[2018-10-27 22:09] #78 closed

[2018-10-27 22:38] kirbiyik opened #99 "What kind of informations should we collect?"
I'd like to propose a principle. **The less data we collect about user, the more we respect their privacy.** It also applies for security issues, the user will be exposed less in a data breach if there is less info about her/him in the system.

Let's start removing birthdate field from sign up screen. I am open to any other ideas.

[2018-10-28 06:32] atifemreyuksel commented on #99
Omer, I totally agree with you but I cannot find another unnecessary field like birthdate in sign up. So, I think we can only remove birthdate field to apply this principle.

[2018-10-28 10:41] cerob opened #101 "Implement email activation for backend"
After #71 and #92, an email system should be utilized.

[2018-10-28 10:42] #71 closed

[2018-10-28 10:45] cerob opened #102 "Apply GenericRelations to Tag model [15 Nov, 23.59]"
GenericRelations are something cool that we are using for our database.

Since we changed user interests to tags, it's a great idea to implement this feature for user tags too.

[2018-10-28 10:54] cerob commented on #99
The more data we collect, the more accurate our recommendation and search system are. We should ask these questions:

- What are governmental regulations that we have to follow?
  - GDPR of EU
  - Turkey's status in GDPR
  - Attitude of other states
- How much do users themselves care for their privacy and which percent of them wants us to be more respectful to their privacy?
- Can't we provide wi

[2018-10-28 13:10] atifemreyuksel opened #103 "Add Bio field to api response of User"
I think we should add bio field to user api response. I remember that the bio must be added to the profiles of users according to our requirement. What are your opinions @mertakozcan @cerob ?

[2018-10-28 19:27] mertakozcan opened #104 "Improve API data validation in serializers"
During `create` or `update` process of serializers, sometimes `KeyError` occurs and currently, we aren't handling them. We can implement validations to check if required fields are present and if there is a problem, we can raise `serializers.ValidationError` and this returns a message we specify plus meaningful status code.

[2018-10-28 22:17] kirbiyik commented on #99
Very good points.

I think we should fight for privacy even if users are not aware of them.

This is a complex issue but we can stick to the project requirements with regards to this issue.

This is the best option but requires more attention and work than other two approach.

I think our recommendation system should be based on users prior tastes not on gender, birthdate, etc.

[2018-10-28 22:18] kirbiyik commented on #103
It seems to be a legit request.

[2018-10-28 22:52] isikz commented on #84
With 2 confirmation, democracy works.
Monday 13:00-14:00 is regular meeting time.

[2018-10-28 22:52] #84 closed

[2018-10-28 22:53] isikz commented on #82
It is done for Android, if it needs any change, @atifemreyuksel and I can review it.

[2018-10-28 22:57] isikz commented on #99
I think, for sign up, it is thoroughly fixed; name, surname, username, e-mail, password. However, here we can remove username section. It is not about privacy I think but it gets simpler. So, user uses just his/her e-mail to log in.

[2018-10-29 00:49] cerob commented on #104
@kirbiyik That makes your tasks easier and yes, we can do this. :)

[2018-10-29 00:50] cerob commented on #104
I think we can add `required` attribute so it raises an error during validation.

[2018-10-29 00:56] cerob commented on #104
I am making some of the fields optional according to principles that we have been talking in #99

[2018-10-29 14:10] anilseyrek commented on #96
Wed 14.00 is not OK for me. I have a lab class between 14.00-16.00.

[2018-10-29 14:59] kirbiyik opened #106 "Implement lacking features for frontend"
I have implemented a simple homepage, landing page, login and signup screen. It works properly but we have important missings.

- Input validation
- Error message to user
- Asking for password twice and verifying them
- Integration for corporate user

I will not be able allocate time for these until Milestone 1 since I worked very extensively. Any help is welcome.

[2018-10-29 22:00] mertakozcan commented on #74
#109 done...

[2018-10-29 22:00] #74 closed

[2018-10-29 22:01] mertakozcan commented on #92
Is this done? @cerob

[2018-10-29 23:06] kirbiyik commented on #104
I think we should go all or none. Otherwise recommendation and search might be troublesome due to gaps in data.

[2018-10-29 23:07] cerob commented on #92
@mert I haven't tested it yet. After #101 most probably.

[2018-10-29 23:10] cerob commented on #101
So, I am planning to create an app and write related renderers and templates in it. Is this OK? @mertakozcan

[2018-10-29 23:11] cerob commented on #96
I am not available at that time. What about Weds, 5pm? @mertakozcan @anilseyrek @mfatihm

[2018-10-29 23:17] cerob commented on #94
Completed?

[2018-10-30 08:12] #82 closed

[2018-10-30 08:13] cerob opened #110 "Prepare Milestone#1 report"

[2018-10-30 10:55] erkamagr commented on #106
Working on it but it seems like the changes will be a day or two late.

[2018-10-30 18:58] cerob opened #112 "Write Milestone#1 evaluation meeting report [31 Oct, 23:59]"

[2018-10-30 19:00] cerob opened #113 "Write Milestone#1 teams meeting report"

[2018-10-30 19:09] isikz commented on #112
Ok, I will do,  due 31st of December, @23:59

[2018-10-30 19:10] cerob commented on #112
Are you kidding? @isikz

[2018-10-30 19:10] isikz commented on #94
Except settings. Others are done.

[2018-10-30 19:10] #94 closed

[2018-10-30 19:23] cerob opened #114 "Prepare README.md for Backend, Frontend and Android"
It's better if we add `README.md` files into corresponding folders telling about how to build&run project, where we deployed them, etc.

If possible, we can do the same for Android as well.

If you want to share some images, please don't put them into project code folders, but use `wiki_assets/` path.

- [x] Backend
- [x] Frontend
- [ ] Android

[2018-10-30 20:29] kirbiyik commented on #114
Some info is already at [here](https://github.com/bounswe/bounswe2018group6/blob/master/frontend/README.md). I'm planning to make a radical change on the frontend side. Also location of deployment will probably change soon. Should I still upload?

[2018-10-30 20:30] kirbiyik commented on #113
Could you tell exact difference between #112 ?

[2018-10-30 20:31] kirbiyik commented on #98
Could you specify what will be the trade-off?

[2018-10-30 20:32] kirbiyik commented on #93
I am closing this issue, feel free to send a message if you have a suggestion.

[2018-10-30 20:32] #93 closed

[2018-10-30 21:21] mfatihm commented on #96
I will not be able to attend 5-10 pm

[2018-10-30 22:02] cerob commented on #113
#112 is post, this is pre. @kirbiyik

[2018-10-30 22:05] cerob commented on #114
If you will change the deployment location soon, I think waiting is better so to not expose your current IP address. That means that you have frontend `README.md` ready already, thanks for that.

[2018-10-30 22:06] mertakozcan commented on #96
What about Tuesday at 4 or 5 pm?

[2018-10-30 22:10] cerob commented on #96
Okay for me. @mertakozcan

[2018-10-30 22:15] mertakozcan commented on #98
I don't know much about base64, but if it's easy for frontend and Android teams to encode/decode images to/from base64, then probably this way would be easier. Also, I'm assuming that we won't need to store video, because I heard from other teams that they have to store video as per their requirements and base64 is problematic for video content.

Storing in AWS S3 is a little bit harder but correc

[2018-10-30 22:17] mertakozcan commented on #98
So, perhaps frontend and Android teams can decide if they're OK with base64, otherwise, I already prepared the basis for AWS storage. (as in #78, #97)

[2018-10-31 11:51] kirbiyik commented on #98
I prefer Amazon if it's OK for everyone.

[2018-10-31 12:32] atifemreyuksel commented on #113
I wrote the report and added it to Home page. You can check them.

[2018-10-31 12:32] #113 closed

[2018-10-31 12:37] atifemreyuksel commented on #103
This might make more sense. Thanks for your response @cerob.

[2018-10-31 16:59] isikz commented on #112
Done. I added on wiki page as Meeting #19.

[2018-10-31 16:59] #112 closed

[2018-10-31 20:34] mstfalp commented on #98
I think if we already have S3 integration then it would be better to go with it. Base64 would work as quick cheap solution but size is bigger and decoding is a bit weird with Android image libraries.

[2018-10-31 23:26] kirbiyik opened #115 "Location of deployment of frontend"
I guess we can use Heroku also for the deployment of frontend. Which steps should be taken? Or do you have another suggestion?

[2018-11-01 20:41] mertakozcan commented on #115
I like simplicity of Heroku and it's suitable (and free) for a project like ours. Just like pushing the code to GitHub, we can also push the code to Heroku and it'll automatically do necessary things and take our code to live production environment.

I'm not aware of frontend project structure but since it's a Node app I think this [tutorial](https://devcenter.heroku.com/categories/nodejs-support)

[2018-11-01 20:54] isikz commented on #110
Thanks guys. Done.

[2018-11-01 21:00] #110 closed

[2018-11-03 18:55] mertakozcan commented on #99
What's the final decision here? Are we going to remove birthday field?

[2018-11-03 18:58] mertakozcan commented on #98
We're using AWS S3, then. We'll test the implementation here (#97) and I'll share the details about how frontend or Android will upload the media file.

[2018-11-03 18:58] #98 closed

[2018-11-03 18:59] mertakozcan commented on #96
@anilseyrek @mfatihm What about you? (Tuesday at 4 or 5 pm)

[2018-11-03 19:02] mertakozcan commented on #91
DRF has a functionality for search, you can find that [here](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter). I think it's enough for our purposes but another alternative is [Algolia](https://www.algolia.com/).

[2018-11-03 19:14] mertakozcan commented on #88
I think in order to support location search, **city and district** are enough. (**il ve ilçe**) In addition to these fields, we might need to work together with frontend and Android to learn which API they're going to use and which fields we have to support. If everyone is OK for **city and district**, I'll close this issue and open a new one assigned to frontend and Android.

[2018-11-03 19:36] mertakozcan commented on #77
As backend team, we're expecting frontend and Android teams to send us city and disctrict information of the event location so that we can enable users to filter events based on location. (il ve ilçe) #88

In addition to this, you should decide how user will select the location of event on UI. (For referance, you might use something like [this](https://developers.google.com/maps/documentation/java

[2018-11-03 19:38] mertakozcan commented on #88
We can continue location discussion from #77...

[2018-11-03 19:38] #88 closed

[2018-11-03 20:05] mertakozcan commented on #99
I've two other questions.
As we discussed in #103, are we going to add bio field to user?
Also, can we add city field to user in order to make more accurate recommendations?

[2018-11-03 20:06] mertakozcan commented on #103
Continue discussion in #99.

[2018-11-03 20:06] #103 closed

[2018-11-03 20:08] mertakozcan commented on #101
Sure.

[2018-11-03 20:11] mertakozcan commented on #90
https://cultidate.postman.co/collections/1789011-c132c295-5f3e-45a3-add5-383af88bea9a?workspace=1855cb37-fe7c-4fb6-bd55-5aba1c2bf3f0 Initial documentation is here and can accesible by team members who sent me their Postman account information.

[2018-11-03 20:30] mertakozcan commented on #102
This will also be useful for recommendation stuff. For example, starting from a tag, we can query all items that are tagged with that tag. 😀

[2018-11-03 21:40] isikz commented on #96
I have a say, after meeting, as we have talked, Anıl accepted to join Android team.

[2018-11-04 13:36] mertakozcan commented on #99
If there is no objection, I'll do these,

- Remove **birthday** field (not useful)
- Add optional **bio** field (due to requirements)
- Add optional **city** field (for more accurate recommendations)

[2018-11-04 13:38] mertakozcan commented on #102
Do we need an API for this? I can't remember what we've talked. @cerob

[2018-11-04 18:03] anilseyrek commented on #96
I think I should attend a backend meeting one last time, since I will give details about annotation research. Tuesday 4 or 5 pm is OK for me.

[2018-11-04 18:32] kirbiyik commented on #77
@atifemreyuksel Could you examine some example usages of Google API for our system?

[2018-11-04 18:35] kirbiyik commented on #101
We need an information session for how to use email system in the frontend.

[2018-11-04 18:38] atifemreyuksel commented on #77
Okay, I will search some examples for frontend.

[2018-11-04 19:11] atifemreyuksel opened #116 "Meeting Time (Frontend)"
We should decide a regular time for meeting as frontend team. I think we can make our meeting before 3 pm on Monday. Is it okay for you?

[2018-11-04 20:24] isikz opened #117 "Meeting time (Android Team)"
Because of the member changes, we need to decide a new meeting time. It can be regularly face to face or via Skype? I suggest that, regularly via Skype. If necessary, it can be a face to face meeting.
Any suggestion?
And,is everybody okay with Friday evening meeting on Skype(just for this week)?

[2018-11-05 07:12] kirbiyik commented on #116
Yes, I'm cool with that.

[2018-11-05 07:12] #116 closed

[2018-11-05 14:04] mstfalp commented on #117
Friday evening seems fine for me.

[2018-11-06 13:34] mertakozcan commented on #96
It's scheduled as Tuesday 4 pm.

[2018-11-06 13:34] #96 closed

[2018-11-06 13:49] mertakozcan opened #118 "API Error Response, Serializer and Validator Improvement"
We should implement a standard schema for error messages that will be returned to client after faulty requests. Also, we should revise `create` and `update` methods that we override for nested serializer and make sure we're not doing anything wrong regarding Django ORM methods. (e.g. save before update a field, create and add related model instances) In addition to that, we should start implementi

[2018-11-06 13:50] cerob commented on #104
This step is done. There are no `KeyError`s anymore. We will be continuing different aspects of validation problems on issue #118

[2018-11-06 13:50] #104 closed

[2018-11-06 13:51] mertakozcan opened #119 "Clarification and Discussion For Search Functionality [9 Nov, 23.59]"
As we discussed in our meeting we're going to use [DRF Search Filter](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter) for search functionality. Before starting implementation, backend and other teams should be on the same page regarding the details of search.

- [ ] Find out possible search types based on project description and requirements. (e.g. location, tag)
- [ ] Dis

[2018-11-06 13:53] mertakozcan commented on #91
For now, we'll be using DRF's [SearchFilter](https://www.django-rest-framework.org/api-guide/filtering/#searchfilter).

[2018-11-06 13:53] #91 closed

[2018-11-06 13:57] cerob opened #120 "Django Admin implementation"

[2018-11-06 19:42] kirbiyik opened #121 "Implement and test Sign Up in new template"
We need to have a working sign up ASAP to start working on features of Milestone 2.

[2018-11-06 19:44] kirbiyik commented on #115
Thanks for detailed response, let this issue stay open. We will deal with this after we add vital features.

[2018-11-06 20:31] mertakozcan commented on #90
[https://documenter.getpostman.com/view/1789011/RzZ6L1xw](https://documenter.getpostman.com/view/1789011/RzZ6L1xw) This one is publically accesible.

[2018-11-06 20:42] atifemreyuksel commented on #121
Okay sir! I am working on it.

[2018-11-06 20:46] kirbiyik commented on #90
@mertakozcan, I think the example and explanation of _Get Event List_ is duplicate of _Get Event Details_. Is it correct or am I missing something?

[2018-11-06 20:57] mertakozcan commented on #90
It's a copy-paste mistake, I'll fix those too. 😅

[2018-11-07 12:13] atifemreyuksel commented on #121
I implemented signup page. I will push it to another new branch. I am ready for your new orders, sir!

[2018-11-07 20:23] atifemreyuksel opened #123 "Use existing email in signup request"
I recognize that I can create a user with the same email address used before. I think I should not register another user with the same email address. Can we add control mechanism for existing email case like in username one in signup endpoint?

[2018-11-08 10:58] mertakozcan commented on #123
I noticed that problem too but I don't remember if I asked this to Abdurrahman.

By default, it only checks unique constraint for username field and unfortunately, in order to add unique constraint for another field in AbstractUser, there is no official way. We should use some tricky ways (can be found on SO) or change AbstractUser with AbstractBaseUser. You can choose whichever is more appropriat

[2018-11-10 17:18] isikz commented on #117
Well, if Friday is regular meeting day, everybody okay with it?

[2018-11-10 19:12] kirbiyik opened #124 "Add primary pic field for events"
I recommend all of the possible events to the every user at the moment, I fetch them with `Event List` call. I would like to propose 2 changes for event API.
- [x]  Add a primary picture for each event, it will be smt like profile page for event. We will show it while recommending.
- [x] Add this primary picture's url to `Event List` call and also to future recommendation API.
- [x] Add tags for t

[2018-11-11 09:16] mertakozcan commented on #124
👍I'll implement these until Friday.

[2018-11-11 17:09] atifemreyuksel opened #125 "Add feature about editing user information"
I want to implement editing the profile page but I cannot find related API endpoint.
Also, I cannot get user's tag in get user details after sending signup request by adding tags field into its body.
I want you to implement these endpoints if my requests are sensible.

[2018-11-12 02:10] anilseyrek opened #126 "Add Android Team meeting notes"
Meeting notes will be added in order to track the progress.

[2018-11-12 03:15] anilseyrek commented on #126
Done. You can check and edit it via the following link:
[Meeting #21: 09.11.2018 - Android Team](https://github.com/bounswe/bounswe2018group6/wiki/Meeting-%2321:-09.11.2018---Android-Team)

[2018-11-12 03:15] #126 closed

[2018-11-12 04:48] anilseyrek commented on #117
It is okay for me.

[2018-11-15 21:30] mertakozcan commented on #102
Since we won't need an API for this, I think it is unnecessary to make a GenericModel for Tag. However, I created a mixin anyway. (i.e. if some Tag operations will be done on Event, it'll be done over Edit Event endpoint)

[2018-11-15 21:30] #102 closed

[2018-11-15 23:03] mertakozcan commented on #124
Hi @kirbiyik, I implemented those things. However, we might need to discuss how you should add image files to your requests.

[2018-11-15 23:08] mertakozcan commented on #125
@atifemreyuksel There is an API for editing user information but it seems like it's missing in the documentation.

@cerob Can you add that endpoint to Postman collection?

Also, we can add tags to sign up response, no problem.

[2018-11-16 06:30] atifemreyuksel commented on #125
Thank you @mertakozcan . I think that I should not put the selecting tag part in sign up. I can put it into profile page. by using create tag and delete tag endpoints.

[2018-11-16 10:06] mertakozcan commented on #125
Sending Tag information in sign up is up to you, it's not required but we don't think additional Tag API. If you want to edit tags of currently signed id user, you can make a request like,

`PUT` <host>/api/users/<currently_signed_in_user_id>

[code]

a.k.a data that contains only Tag information, this is possible right now.

[2018-11-16 11:15] mertakozcan commented on #90
I guess there is no problem with Postman documentataion for now. If any problem occurs or if it doesn't meet with our requirements, we can prepare documentation in a different way.

[2018-11-16 11:15] #90 closed

[2018-11-16 11:16] mertakozcan commented on #119
What is the progress here? @mfatihm

[2018-11-16 12:16] atifemreyuksel commented on #125
I understood. I didn't know the usage of put request. Thank you @mertakozcan . I am closing this issue.

[2018-11-16 14:52] cerob commented on #77
As backend team, we expect frontend and android teams to come up with a common data fields. If you are planning to use Google API, it should be trivial.

[2018-11-17 09:04] mfatihm commented on #119
according to requirements, we should search in different categories: tags, keyword and location. I will ask to the frontend and mobile teams again

[2018-11-18 10:07] #123 closed

[2018-11-18 15:17] cerob commented on #92
It's tested and functioning.

[2018-11-18 15:17] #92 closed

[2018-11-18 15:18] cerob commented on #101
#132 deals with this issue.

@kirbiyik Activation is handled by backend, so the is no overhaul for you. We just need a login page url at frontend side.

[2018-11-18 15:19] cerob commented on #120
PR #131 implements this.

[2018-11-18 17:42] kirbiyik commented on #124
Sure, let's schedule it on Slack.

[2018-11-20 12:20] anilseyrek opened #133 "Add application flow diagram for Android"
Due date: 20.11.2018, 17.00

[2018-11-20 12:29] mstfalp opened #134 "Limit users access to other profile information"
## Limit users access to other profile information
A user (let's say user_id = 58) can access to all other users and their profile information by changing the id like `http://cultidate.herokuapp.com/api/user/59`

I am not sure if we talked about this before but I think it shouldn't return all the information for other users. We can either return a simpler response with name, surname, and profile p

[2018-11-20 12:33] mstfalp opened #135 "Fix login and register page validation and design"
Register and login pages should have better UI and warnings for validations. Make sure it is covering all validations required and shows warning before sending a request to server.

[2018-11-20 12:36] mstfalp opened #136 "Profile page implementation and bindings"
We already have a profile page design but not all fields are connected to service. Also page should follow the design we created on mockups. Update the layout according to that and implement binding for the service.

[2018-11-20 12:43] mstfalp opened #137 "Create home page with fragments"
We will be following the design from [mockup](https://github.com/bounswe/bounswe2018group6/wiki/Mockups) and roughly looks like as below.
![image](https://user-images.githubusercontent.com/43815119/48774088-45a0ec80-ecda-11e8-85d7-3ec6618cea52.png)

* A home page activity with fragments should be implemented
* Fragments should have sliding functionality for page switch. Also user should be able to

[2018-11-20 17:18] isikz commented on #117
Friday 8.00 pm, tentative.

[2018-11-20 17:18] #117 closed

[2018-11-21 19:08] mertakozcan commented on #119
Search functionality should also support users just like events. So, this is another point that we should consider. So when a tag, keyword or location is searched, there will be both events and users in the response. Also, in location search, it should support city, district or both. These points should be discussed with Android and frontend teams.

For backend side, in the description, it says th

[2018-11-22 13:58] kirbiyik commented on #125
@cerob I still cannot see this in [here](https://cultidate.postman.co/collections/1789011-c132c295-5f3e-45a3-add5-383af88bea9a?workspace=1855cb37-fe7c-4fb6-bd55-5aba1c2bf3f0#434e7329-9f1a-4873-9bf4-5641425ec9b6). Thus we cannot proceed. Could you add it ASAP?

[2018-11-23 18:41] mertakozcan opened #138 "Facebook Login"
As we all know, we must provide a sign up and login option with Facebook. For this feature, Facebook's approval for our application might take some time. Is there anyone experienced with this? I think we should assign this to someone ASAP.

[2018-11-23 18:43] mertakozcan commented on #124
I've deployed these feautures. We can talk media upload details on Slack / meeting.

[2018-11-23 18:43] #124 closed

[2018-11-23 21:29] atifemreyuksel opened #139 "Internal server error when trying to follow followed event"
When I try to refollow the event,  endpoint gives me 500 internal server error. Can we fix this issue? Also, I know that this refollow request is not a valid one.

[2018-11-23 21:37] mertakozcan commented on #139
I'm aware of this problem. I'll inform you from this issue when it's fixed.

[2018-11-24 13:39] kirbiyik commented on #138
I don't know but I guess @mfatihm might have dealt with this before. If not I can ask people from outside of our team.

[2018-11-25 19:36] kirbiyik commented on #125
@cero any updates on this? @atifemreyuksel can't keep waiting to fire up our user profile edit page.

[2018-11-26 05:41] cerob commented on #125
Okay, there are yet to do including some validations for nested fields and password change feature. I was quite busy last week and couldn't make it.

With some to-dos, I added to documentation. It's pretty straightforward and I don't suppose you'll get any errors with given examples.

[2018-11-26 05:51] cerob commented on #138
There are three different types of Facebook login according to how much data you gather. Initial one is enough for us since higher ones require corporate contract etc.

As far as I know, Facebook now requires Privacy Policy and Terms of Service for this feature.

[2018-11-26 05:55] cerob commented on #134
It is doable, but at this scale, we don't need such feature in my opinion since not only it requires extra effort  for backend but also makes frontend's tasks complicated.

[2018-11-26 05:58] cerob commented on #115
Is there any progress so far? To activate email activation feature, we need this to be deployed.

[2018-11-26 11:42] mertakozcan commented on #134
I think that request will be used when a user visits another user's profile, so we have to return some information. Also, we planned the platform such that all profiles are public, since there is no such feature as 'add friend' etc. Maybe, we can filter out some of the fields in the future if there is a problem with the response data, but it doesn't seem like a priority at this point if you don't

[2018-11-26 18:30] cerob commented on #118
Should we keep this open?

[2018-11-26 18:38] mertakozcan commented on #118
Yes, I've few things to do.

- [ ] Handle object not found for generic models
- [ ] Fix the problem about follow also mentioned here #139

[2018-11-27 09:35] cerob opened #141 "Implement forgot password"
As described in the Requirements:

[2018-11-27 11:44] cerob commented on #114
It's android team's turn.

[2018-11-27 14:07] cerob opened #143 "Implement search feature"

[2018-11-27 14:19] cerob opened #144 "Implement messaging feature"
As stated in the requirements.

[2018-11-27 14:22] cerob opened #145 "Implement notifications feature"

[2018-11-27 14:23] #125 closed

[2018-11-27 14:23] #120 closed

[2018-11-27 14:26] cerob opened #146 "Implement recommendation system"

[2018-11-27 14:31] mfatihm commented on #119
It will be searched in events by default. if the user wants to search in users, it should click the link that searches in users. Semantic search will be about related tags

[2018-11-27 15:09] isikz commented on #114
Done.

[2018-11-27 15:09] #114 closed

[2018-11-29 14:40] kirbiyik opened #148 "Return profile page link with user details api request"
I can't see any way of getting user's profile picture in API docs. Am I missing something?

[2018-11-29 14:46] mertakozcan commented on #148
It is included in `owner` field.

[code]

It could be missing in the documentation, we can update it.

[2018-11-29 18:23] atifemreyuksel opened #149 "Insert image into profile and event"
Dear @kirbiyik , we did the design and some part of uploading image. But we don't connect this feature to endpoints. So, we must do it as soon as possible.

[2018-11-29 18:48] kirbiyik commented on #115
We are online at cultidate.ml

[2018-11-29 18:48] #115 closed

[2018-11-29 18:51] kirbiyik commented on #148
@mertakozcan, I have no idea about owner field for `Get User Details`. Maybe misunderstood my question?

[2018-11-29 18:56] mertakozcan commented on #148
@kirbiyik When you make a request like `GET /api/users/3`, you should be able to see `profile_photo` field.

[2018-11-30 12:54] kirbiyik commented on #149
Now it's working with images for already created events. Will notify once it's OK with _create event_ page.

[2018-11-30 12:57] kirbiyik commented on #148
Then I think it's missing in the API docs. By the way thanks for the lovely API docs. Let's keep it up to date.

[2018-12-01 20:17] atifemreyuksel opened #150 "Add email activation feature into signup"
We have to insert this feature into signup page as soon as possible. So, we can ask our questions to backend team when encountering problem.

[2018-12-02 20:40] atifemreyuksel commented on #77
We already use places api in showing event page. Also, we can use reverse geocoding api in google in create event. Hence, we can take the latitude and longitude of the event place with marker. Then, we convert it to related address. Is it useful for backend?

[2018-12-05 12:32] #148 closed

[2018-12-05 12:32] kirbiyik commented on #149
Done

[2018-12-05 12:32] #149 closed

[2018-12-05 15:11] mertakozcan commented on #101
@cerob What will happen after user signs up? I think frontend and Android have to show a page like "Check your inbox and activate your account". Am I wrong?

Also, are you going to disable sending token in the response of sign up request?

[2018-12-05 15:14] mertakozcan commented on #145
We can use this library ([django-notifications](https://github.com/django-notifications/django-notifications)) if it fits to our requirements.

[2018-12-06 20:47] cerob opened #155 "Write Milestone#2 Report"

[2018-12-06 20:54] #155 closed

[2018-12-06 21:19] cerob commented on #101
I wrote the process in #132

We have successfully merged. Thanks to all.

[2018-12-06 21:19] #101 closed

[2018-12-06 21:20] cerob commented on #150
Please check #132

[2018-12-06 21:24] cerob commented on #89
It seems there is no progress here. I (or anyone willing) shall close the issue within several days.

[2018-12-06 23:01] mertakozcan commented on #139
After #156 is merged, this issue will be fixed. When you try to follow an already followed event, API will return the existing follow record in the db.

[2018-12-06 23:02] mertakozcan commented on #118
After #156 is merged, we can close this issue.

[2018-12-06 23:11] #134 closed

[2018-12-06 23:14] mertakozcan commented on #144
It's implemented here... #154

[2018-12-06 23:14] #144 closed

[2018-12-06 23:14] #118 closed

[2018-12-08 21:20] cerob opened #157 "Check email server procedures"
It seems sign up confirmation emails are not sent. Need to be fixed.

[2018-12-08 21:35] cerob commented on #157
Problem is solved without any code change on the project. The cause was that the email server applies strong security measures, I let them to permit to our servers.

@kirbiyik @atifemreyuksel If you have any further inquiries, don't hesitate contacting.

[2018-12-08 21:35] #157 closed

[2018-12-08 21:40] mertakozcan commented on #139
I've just released the fix.

[2018-12-08 21:40] #139 closed

[2018-12-09 08:04] kirbiyik opened #158 "Implement event sharing feature for users"

[2018-12-09 13:03] mertakozcan commented on #77
For location model, we now have **city**, **disctrict**, **google_place_id**, **name**, **lat**, **lng** fields. Android team should also use these fields for location-related things for events.

Special thanks to @atifemreyuksel, for his guidance about this issue.

[2018-12-09 13:03] #77 closed

[2018-12-09 17:57] kirbiyik commented on #150
Done.

[2018-12-09 17:57] #150 closed

[2018-12-09 20:59] kirbiyik opened #160 "Standardize and beautify error messages"
I would like to have 2 things about error messages, let's implement them if they are feasible.

- [ ] Sometimes error message can be two layered object like `data['corporate_profile']['url']`, sometimes it is 1 layered such as `data['non_field_errors']`. I want to show the error to user but don't know how to traverse the error object. I can't simply display json object obviously.

- [ ] I also jus

[2018-12-09 21:01] kirbiyik commented on #145
Any updates on this?

[2018-12-10 05:56] kirbiyik opened #161 "If user closes page without log out, he/she can't reach homepage again by clicking login"
Router needs to be fixed according to user's login status

[2018-12-10 05:58] kirbiyik commented on #161
Hotfix is delivered.

[2018-12-10 05:58] #161 closed

[2018-12-10 06:00] kirbiyik opened #162 "Implement messaging feature on the frontend"
We should discuss details before starting implementation.

[2018-12-10 11:32] atifemreyuksel commented on #162
I will start the initial design of messaging page today. We can discuss the other details after design.

[2018-12-11 14:15] isikz opened #163 "Announcement for Android Team"
Dear Android Team,

You all know our commutation and organization problem and how it affected us on Milestone #2. There are a lot of work waiting to be done. In these 3 weeks, we have to do a great work for Final Milestone. If everybody stays silence, I will manage and do the works myself as I can. Because nobody comes to class, I have to face with all bad comments.

I am starting to work on event

[2018-12-11 14:16] #135 closed

[2018-12-11 14:24] isikz opened #164 "Create event related issues' layouts."
-Create
-Edit
-Cancel
-Subscribe
-Leave
-Show Details
-Upload Media
-Share
-Comment
-Set Attendance Status
-Add Tags

I roughly wrote the points.  (some is in each other.)

[2018-12-11 17:51] cerob opened #165 "Populate events and tags data"
In order to make our system look more vibrant and more usable, there should be more events in any types.

So I recommend populating our website by creating events. These can be any hobby you are interested or any event you've seen around etc.

Moreover, we might all notice some bugs by using our system and report them here as early as possible.

[2018-12-11 20:57] atifemreyuksel commented on #162
I finished messaging part. Now, a user can create conversation with other one and can communicate with each other.
Also, we have to discuss how often we send a request to control the messages sent to other user.

[2018-12-11 21:02] atifemreyuksel opened #166 "Implement user search feature for creating conversation"
I design and implement functional conversation and messaging page. But when creating a conversation, user can find a user with only their user id, which is not sensible for users. For this reason, I need a user search feature with username as soon as possible.
I remember that @mfatihm takes the responsibility to implement search feature. I think we have to finish search mechanism before the next T

[2018-12-11 22:33] atifemreyuksel commented on #162
I handle the last problem I mentioned comment above. Now, we can check conversation details every 5 seconds. Hence, I close this issue.

[2018-12-11 22:33] #162 closed

[2018-12-13 15:40] kirbiyik commented on #138
First level which can be obtained without a review is sufficient for our app. Thus I'm closing this one.

[2018-12-13 15:40] #138 closed

[2018-12-16 13:03] anilseyrek commented on #89
Research material can be viewed in the following slides link:
[https://docs.google.com/presentation/d/12xlF1IGjhoSLvhx2UnlViDqNo_LeKpwyVnkODPoVKYk/edit?usp=sharing](https://docs.google.com/presentation/d/12xlF1IGjhoSLvhx2UnlViDqNo_LeKpwyVnkODPoVKYk/edit?usp=sharing)
Also more detail will be provided on an individual basis.

[2018-12-16 13:03] anilseyrek commented on #89
Done.

[2018-12-16 13:03] #89 closed

[2018-12-18 11:46] cerob opened #167 "Add is_following field to user_details endpoint"

[2018-12-22 20:59] mertakozcan commented on #166
You can use `/api/users_list/?search=<query>` to search users by their username, first name and last name.

[2018-12-22 20:59] #166 closed

[2018-12-22 21:07] mertakozcan commented on #119
Basic search is implemented.

- Users can be searched by username, first name and last name.
- Events can be searched by title, description, city and district.

Details can be found in [API Docs](https://documenter.getpostman.com/view/1789011/RzZ6L1xw).

[2018-12-22 21:07] #119 closed

[2018-12-22 22:13] mertakozcan commented on #167
`own_follow_status` is added along with many details about followers and followings. More details can be found in [API Docs](https://documenter.getpostman.com/view/1789011/RzZ6L1xw).

[2018-12-22 22:13] #167 closed

[2018-12-22 22:15] mertakozcan commented on #165
Also, a clean up might be a good before final milestone since there're too much dummy data in our db right now...

[2018-12-24 11:15] isikz commented on #164
@anilseyrek those are okay as pages. We can now work on binding. Wednesday 10:00-13:00 is okay for you?

[2018-12-24 19:01] anilseyrek commented on #164
It is okay for me.

[2018-12-28 16:48] mertakozcan commented on #158
Done. #172

[2018-12-28 16:48] #158 closed

[2018-12-29 09:05] mertakozcan opened #174 "Enable OAuth for Facebook Login"

[2018-12-29 09:06] mertakozcan commented on #163
We can close this if everyone's got the message...

[2018-12-29 09:47] #163 closed

[2018-12-29 09:47] #164 closed

[2018-12-30 14:04] kirbiyik opened #175 "Implement Annotations"

[2019-01-01 08:49] atifemreyuksel opened #177 "Insert users' owned events in userInfo endpoint"
When reaching user details with userInfo endpoint, I can reach the number of specific user's owned events  but I cannot reach the list of them. When other users enter the user's profile, they should see the events created by him / her. For this reason, adding user's owned events might be good.

[2019-01-01 08:51] atifemreyuksel opened #178 "Insert users' shared events in userInfo endpoint"
When reaching user details with userInfo endpoint, I cannot reach the list of specific user's shared events. When other users enter the user's profile, they should see the events shared by him / her. For this reason, adding user's shared events might be good.

[2019-01-01 08:53] atifemreyuksel commented on #174
@mfatihm , is there any progress about Facebook Login? @kirbiyik implemented the frontend part of it but we could not add it into website.

[2019-01-01 17:17] cerob commented on #178
Done & deployed.

[2019-01-01 17:17] #178 closed

[2019-01-01 17:17] cerob commented on #177
Done & deployed.

[2019-01-01 17:17] #177 closed

[2019-01-01 18:49] cerob commented on #146
Done & deployed. 🎖

[2019-01-01 18:49] #146 closed

[2019-01-01 19:54] mertakozcan commented on #145
Notification system is implemented for receiving follow or personal message scenarios.

[2019-01-01 19:54] #145 closed

[2019-01-06 07:30] mertakozcan commented on #143
Search is implemented here. #147

[2019-01-06 07:30] #143 closed

[2019-01-08 08:35] #136 closed

[2019-01-08 08:35] #137 closed

[2019-01-08 08:35] #141 closed

[2019-01-08 08:35] #160 closed

[2019-01-08 08:35] #165 closed

[2019-01-08 08:35] #174 closed

[2019-01-08 08:35] #175 closed